{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mx-3 my-3">
        <h1 class="row my-3">Catégories :</h1>
        <a class="row btn btn-primary" href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>

    <div class="list-group list-category">

    {% for category in categories %}

        <h3 class="category"><a class="list-group-item list-group-item-action list-group-item-primary m-4 text-center rounded category-link" style="width: auto;" href="{{ path("category_show", { categoryName: category.name }) }}"><strong>{{ category.name }}</strong></a></h3>

    {% else %}

        <p class="text-center">Aucune catégorie trouvée.</p>

    {% endfor %}

    </div>

</div>

{% endblock %}
