@import "~bootstrap/scss/bootstrap";

$primary: #78C0E0;
//$secondary: #267EB1;
$secondary: #449DD1;
//$tercery: #0E0E52;
$tercery: #150578;

html {
    height: 100%;
}

header {
    height: 56px;
}

body {
    background: linear-gradient(180deg, $primary 0%, #000e57 100%);
    background-attachment: fixed;
}

header nav {
    background-color: $tercery;
}

.navbar-brand, .nav-link {
    color: #ffffff;
}

.card {
    background-color: $secondary;
}

.list-season {
    flex-direction: row;
    flex-wrap: wrap;
}

.list-category {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.category {
    width: 432px;
}

.list-episode {
    max-height: 110.391px;
}

.episode-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
