{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
   <h1 class="display-1 text-center text-white my-4"><strong>Wild Series</strong></h1>
   <h2 class="text-center text-white">Chercher vos séries !<br>Trouver les dernières nouveautés !</h2>
{% endblock %}
